# eyetracking data
*.edf
*.asc
*.pkl

# texts
*.txt
results/scanpaths

# temp files
*.pyc
*.asv

# vscode
.vscode

# pycharm
.idea

tesis/*
data/*
metadata/*
stimuli/*
*.zip
scripts1/*
results/*
correlacion/results_og_all/*
correlacion/experiments/*